body {
    background-color: #3AB8DB;
}
   .background {
        display: inline-block;
        width: 100%;
        /* height: 100vh; - elemento aukstis priklauso nuo monitoriaus dydzio */
        /* pazaisti su height */
        height: 100vh;
        background-image: url(../img/kalnas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(40px);
   }
        main {
            display: inline-block;
            width: 800px;
            /* DELETE margin-top: 100px;
            margin-left: calc(50% - 400px); */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .left-column {
            display: inline-block;
            float: left;
            /* pazaisti su width ir ziureti kaip keiciasi dydis */
            width: 40%;
            padding: 40px;
            position: absolute;
            top: 30px;
            bottom: 30px;
            color: #fff;
            background-color: darkblue;
            background-image: url(../img/kalnas.jpg);
            /* jeigu yra savybe 'background-size: cover', savybe 'background-repeat' praranda prasme, nes esant 'cover'reiksmei, nuotrauka uzima visa plota */
            background-repeat: no-repeat;
            /* background-size: cover; -> apima visa stulpelio dydi both per width ir height */
            background-size: cover;
            background-position: center;
    
            }
            
            .right-column {
                display: inline-block;
                float: right;
                width: 60%;
                padding: 60px;
                background-color: #FFFFFF;
                position: relative;
            }

            h1 {
                text-align: center;
            }

            footer {
                position: absolute;
                bottom: 20px;
            }
                footer > a {
                    color: #fff;
                }
                footer > span {}

            .close {
                display: inline-block;
                width: 60px;
                text-align: center;
                font-weight: 100;
                font-size: 50px;
                line-height: 54px;               
                /* priklausomai nuo kurio artimiausio elemento nori statyti X i virsutini, desini kampa, jo pozicija turi buti absoliuti nuo kito elemento (atskaitos tasku tampa body elementas) */
                position: absolute;
                top: 0;
                right: 0;
                transform-origin: center;
                transform: rotate(45deg);
                cursor: pointer;
                font-family: 'Times New Roman', Times, serif;
                
            }
            .form {
                display: inline-block;
                width: 100%;
            }
                .form-row {
                    display: inline-block;
                    width: 100%;
                }

            .form-row + .form-row {
                margin-top: 40px;
                        
                }
                    label {
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 15px;
                    line-height:20px;
                    font-weight: 700;
                    color: #777;
                    }

                    input {
                        display: inline-block;
                        width: 100%;
                        border: none;
                        font-size: 18px;
                        color: #000;
                        border-bottom: 1px solid #777;
                        line-height: 40px;

                    }
                    .btn {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        padding-left: 40px;
                        padding-right:40px;
                        background-color: #0659B3;
                        color: #fff;
                        border-radius: 20px;
                        font-size: 20px;
                        line-height: 20px;
                    }
                    .form-row > span {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 20px;
                    }
                    .form-row > a {
                        display: inline-block;
                        float: left;
                        padding: 10px;
                        line-height: 20px;
                        font-size: 20px;
                    }